[Unit]
Description=MythTV Backend
Requires=mysqld.service
After=network.target mysqld.service

[Service]
Type=forking
Environment=HOME=/root
ExecStart=/usr/bin/mythbackend --daemon --pidfile /var/run/mythbackend.pid --logfile /var/log/mythbackend.log
PIDFile=/var/run/mythbackend.pid

[Install]
WantedBy=multi-user.target
