[Unit]
Description=OSS soundon
DefaultDependencies=no
After=sysinit.target
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecStart=-/usr/sbin/soundon
StandardOutput=syslog

[Install]
WantedBy=basic.target
