[Unit]
Description=OSS soundoff
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/soundoff
StandardOutput=syslog

[Install]
WantedBy=shutdown.target
