[Unit]
Description=GIT daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/git
ExecStart=/usr/bin/git daemon --detach --pid-file=/var/run/gitd.pid --reuseaddr $GIT_OPTIONS
PIDFile=/var/run/gitd.pid
Type=forking

[Install]
WantedBy=multi-user.target
