[Unit]
Description=Monit is a utility for managing and monitoring, processes, files, directories and devices on a UNIX system
After=syslog.target

[Service]
ExecStart=/usr/sbin/monit -Ic /etc/monit/monitrc

[Install]
WantedBy=multi-user.target
