[Unit]
Description=Frame Buffer Terminal Daemon
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service
Before=getty.target
IgnoreOnIsolate=yes
ConditionPathExists=/dev/tty0
ConditionPathExists=/dev/fb0

[Service]
ExecStart=-/usr/libexec/fbterm-daemon
Environment=FRAMEBUFFER=/dev/fb0
Environment=HOME=/var/lib/fbterm
User=fbterm
Group=fbterm
SupplementaryGroups=video
Type=idle
Restart=always
RestartSec=0
StandardInput=tty
StandardOutput=tty
StandardError=tty
UtmpIdentifier=tty1
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
IgnoreSIGPIPE=no

[Install]
WantedBy=multi-user.target
