[Unit]
Description=Framebuffer Terminal on %I
Documentation=man:fbterm(1)
After=systemd-user-sessions.service
After=plymouth-quit-wait.service
After=local.service
After=gdm.service
Before=getty.target
IgnoreOnIsolate=yes
ConditionPathExists=/dev/tty0

[Service]
Environment=FBTERM_TTY=/dev/%I
ExecStartPre=/usr/libexec/fbterm-prepare-screen
ExecStart=/usr/libexec/fbterm-wrapper
ExecStopPost=/usr/libexec/fbterm-restore-screen
Type=idle
Restart=always
RestartSec=0

[Install]
Alias=getty.target.wants/getty@tty1.service
