[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Frozen-Bubble
Exec=frozen-bubble
Icon=frozen-bubble.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Game;ArcadeGame;
