[Desktop Entry]
Encoding=UTF-8
Name=QEmu Launcher
Comment=Interface to configure and launch QEmu
Exec=qemu-launcher
Icon=qemu-launcher.png
Terminal=false
Type=Application
Categories=Application;Emulator;
StartupNotify=true
