[Unit]
Description=minbif
After=network.target

[Service]
ExecStart=/usr/bin/minbif --pidfile /var/run/minbif/minbif.pid /etc/minbif/minbif.conf
PIDFile=/var/run/minbif/minbif.pid
Type=forking

[Install]
WantedBy=multi-user.target
