# permissions for CD devices
ENV{ID_CDROM}=="?*", GROUP="cdrom", MODE="660"

# sound devices (sound=alsa, snd=oss)
SUBSYSTEM=="sound|snd", GROUP="audio"
