# permissions for CD devices
ENV{ID_CDROM}=="?*", GROUP="cdrom", MODE="660"

# sound devices (sound=alsa, snd=oss)
SUBSYSTEM=="sound|snd", GROUP="audio"

# allow camera group to write (and not just read) usb devices, #3539
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", MODE="664"


# permissions for IDE CD devices
SUBSYSTEMS=="ide", KERNEL=="hd[a-z]", ATTR{removable}=="1", ATTRS{media}=="cdrom*", GROUP="cdrom"

