# permissions for IDE CD devices
SUBSYSTEMS=="ide", KERNEL=="*[!0-9]", PROGRAM="/bin/cat /proc/ide/%k/media", RESULT=="cdrom*", GROUP="cdrom", MODE="0660"

# permissions for SCSI cd/sg/tape devices
SUBSYSTEMS=="scsi", KERNEL=="s[grt][0-9]*", ATTRS{type}=="5", GROUP="cdrom", MODE="0660"
