#!/bin/bash

# (c) 2005      Marcus Habermehl <bmh1980de@yahoo.de>
# (c) 2003-2005 Vajna Miklos <vmiklos@frugalware.org>
# (c)           Patrick J. Volkerding, <volkerdi@slackware.com>
# rc.mount for Frugalware
# distributed under GPL License

# chkconfig: - 00 97
# description: Mount/umount local filesystems.

source /lib/initscripts/functions
TEXTDOMAIN=mount
TEXTDOMAINDIR=/lib/initscripts/messages

actions=(start stop)

if [ -z $2 ] ; then
	rl=4
else
	rl=$2
fi

rc_start()
{
	# See if a forced filesystem check was requested at shutdown.
	if [ -r /etc/forcefsck ]; then
		ffsck="-f"
	fi
	
	# Check all the non-root filesystems.
	if ! [ -r /etc/fastboot ]; then
		msg $"Checking non-root filesystems"
		/sbin/fsck $ffsck -T -C -R -A -a
		ok $?
	fi

	# Mount non-root file systems in fstab (but not NFS or SMB 
	# because TCP/IP is not yet configured).
	msg $"Mounting local filesystems"
	mount -a -t nonfs,nosmbfs,noproc,nosysfs,nofuse
	ok $?

	# Clean up some temporary files.
	/bin/rm -f /var/run/utmp /var/run/*pid /etc/nologin /var/run/lpd* \
		/var/run/ppp* /etc/dhcpc/dhcpcd-eth*.pid /etc/forcefsck \
		/etc/fastboot

	# Create a fresh utmp file.
	cat /dev/null > /var/run/utmp

	if cat /etc/fstab | grep ' / ' | grep -q umsdos ; then
		rfstype="umsdos"
	fi
	if [ "$rfstype" = "umsdos" ]; then
		# We need to update any files added in DOS.
		msg $"Synchronizing UMSDOS directory structure"
		umssync -r99 -v- /
		ok $?
	fi
}

rc_stop()
{
	if (( ${rl} == 0 )) || (( ${rl} == 6 )) ; then
		msg $"Unmounting local filesystems"
		umount -a -r -t nonfs,noumsdos,nosmbfs,noproc,nofuse
		ok $?
		
		# Don't remount UMSDOS root volumes.
		if [ ! "`mount | head -n 1 | cut -d ' ' -f 5`" = "umsdos" ]; then
			msg $"Remounting root filesystem read-only"
			mount -n -o remount,ro /
			ok $?
		fi
	fi
	# This never hurts. :)
	sync
}

rc_exec $1

# vim: ft=sh
