[Desktop Entry]
Encoding=UTF-8
Name=RipperX
Comment=RipperX is a GTK program to rip CD audio tracks.
Exec=ripperX
Terminal=false
Type=Application
StartupNotify=true
Icon=ripperX-icon.xpm
Categories=Application;Multimedia;
MimeType=
OnlyShowIn=KDE;
