[Desktop Entry]
Name=KCDemu
Comment=A GUI for the CDemu kernel module
Exec=KCDemu
Icon=cdimage
Terminal=false
Type=Application
Categories=Application;Utility;
Encoding=UTF-8
