[Unit]
Description=TiMidity daemon
After=sound.target

[Service]
ExecStartPre=/sbin/modprobe snd_seq
ExecStart=/usr/bin/timidity -iAD -B2,8 -Os
Type=forking

[Install]
WantedBy=multi-user.target
