[Unit]
Description=rsyncd server
After=network.target

[Service]
ExecStart=/usr/bin/rsync -4 --daemon
Type=forking

[Install]
WantedBy=multi-user.target
