[Unit]
Description=Pure FTP Server
After=network.target

[Service]
ExecStart=/usr/sbin/pure-config.pl /etc/pure-ftpd.conf
PIDFile=/var/run/pure-ftpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
