[Unit]
Description=Pure FTP Server
After=network.target

[Service]
ExecStart=/usr/bin/pure-config.pl /etc/pure-ftpd.conf
PIDFile=/run/pure-ftpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
