[Desktop Entry]
Encoding=UTF-8
Name=Blender
Name[ar]=بليندر
Name[bn]=ব্লেণ্ডার
Name[es]=Indice
Name[fa]=بلِندر
Name[hi]=ब्लैण्डर
Name[is]=Hrærivél
Name[ko]=블렌더
Name[pa]=ਬਲੈਡਰ
Name[ta]=ப்ளன்டர்
Name[tg]=Блендер
Name[th]=เบลนเดอร์
MimeType=
GenericName=3D Modeler/Renderer
GenericName[af]=3D Beeld Moduleerder
GenericName[ar]=أداة نمذجة ثلاثية الأبعاد
GenericName[az]=3D Modelləyici/Render Vasitəsi
GenericName[bg]=Редактор за триизмерни изображения
GenericName[bn]=ত্রিমাত্রিক মডেলার/প্রদর্শক
GenericName[ca]=Modelador i renderitzador 3D
GenericName[cs]=Modelář 3D scén
GenericName[cy]=Modelydd/Trosydd 3D
GenericName[da]=3D Modelerer/Fremviser
GenericName[de]=3D-Modeler/Renderer
GenericName[el]=3D Μοντελοποιητής/Renderer
GenericName[en_GB]=3D Modeller/Renderer
GenericName[eo]=Desegnilo/bildigilo por tridimensiaj scenoj
GenericName[es]=Modelador de escenas 3D
GenericName[et]=3D modelleerija/teisendaja
GenericName[eu]=3D Modelatzailea/Renderizatzailea
GenericName[fa]=پردازش‌کننده/مدلگر سه بعدی
GenericName[fi]=3D-mallintaja/renderöijä
GenericName[fr]=Logiciel d'animation et de modélisation 3D
GenericName[fy]=3D modelearprogramma
GenericName[ga]=Insamhlóir/Rindreálaí 3T
GenericName[gl]=Modelador/Renderizador 3D
GenericName[he]=ממדל ומרנדר תלת־מימד
GenericName[hi]=3डी मॉडलर/रेंडरर
GenericName[hr]=Program za modeliranje/renderiranje 3d scena
GenericName[hu]=3D-s modellező
GenericName[is]=Tól til vinnslu með 3D hluti
GenericName[it]=Modellatore e render 3D
GenericName[ja]=3Dモデラ/レンダラ
GenericName[ko]=3차원 모델링/렌더링 도구
GenericName[lt]=Scenos modeliuotojas
GenericName[mk]=3D Моделирач/Исцртувач
GenericName[mn]=3 хэмжээст дүр зураг загварчилагч
GenericName[nb]=3d-modellering/visning
GenericName[nds]=3D-Modellmaak- un -tekenprogramm
GenericName[nl]=3D modeleerprogramma
GenericName[nn]=3d-modellering/-vising
GenericName[pa]=3ਡੀ ਮੋਡੀਲੀਰ/ਪੇਸ਼ਕਾਰ
GenericName[pl]=Program do modelowania trójwymiarowego
GenericName[pt]=Modelador/Rasterizador 3D
GenericName[pt_BR]=Modelador/Renderizador 3D
GenericName[ro]=Modelator de scene 3D
GenericName[ru]=3D рендерер/моделер
GenericName[sk]=3D modelovanie/rendrovanie scén
GenericName[sl]=3D Modelirnik scen/upodabljalnik
GenericName[sr]=3D моделар/рендерер
GenericName[sr@Latn]=3D modelar/renderer
GenericName[sv]=3D-modellering/uppritning
GenericName[ta]=முப்பரிமாண மாதிரி
GenericName[tg]=3D Модулгар/Пардозишкунанда
GenericName[th]=วาดภาพ/ออกแบบโมเดล 3 มิติ
GenericName[tr]=3B Modelleme Programı
GenericName[uk]=Модельєр 3D
GenericName[vi]=Trình tạo mẫu và hỗ trợ 3D
GenericName[zh_CN]=3D 建模/渲染器
GenericName[zh_TW]=3D 場景繪製程式
Exec=blender
Icon=blender.png
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Application;Graphics;
