[Unit]
Description=ProFTPd Server
After=network.target

[Service]
ExecStart=/usr/bin/proftpd
PIDFile=/run/proftpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
