[Unit]
Description=ProFTPd Server
After=network.target

[Service]
ExecStart=/usr/sbin/proftpd
PIDFile=/var/run/proftpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
