[Unit]
Description=LVM activation
DefaultDependencies=no
After=udev-settle.service
Before=local-fs.target
ConditionPathExists=/sbin/vgchange

[Service]
ExecStart=/sbin/vgchange --sysinit -a y
Type=oneshot

[Install]
WantedBy=sysinit.target
