[Unit]
Description=GPS Sensor Daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/gpsd
ExecStart=/usr/sbin/gpsd -P /var/run/gpsd.pid -F /var/run/gpsd/gpsd.sock $GPSD_OPTS $GPS_DEV
PIDFile=/var/run/gpsd.pid
Type=forking

[Install]
WantedBy=multi-user.target
