[Unit]
Description=RPC Portmapper Service
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/rpcbind

[Install]
WantedBy=multi-user.target
