[Desktop Entry]
Encoding=UTF-8
Name=Avidemux
Comment=Graphical tool to edit video
Comment[hu]=Grafikus videó szerkesztõ alkalmazás
Exec=avidemux2
Icon=avidemux.png
Terminal=false
Type=Application
Categories=GNOME;KDE;GTK;Application;Multimedia;AudioVideo;Video;
