[Unit]
Description=tinyproxy
After=network.target

[Service]
ExecStart=/usr/sbin/tinyproxy
PIDFile=/var/run/tinyproxy/tinyproxy.pid
Type=forking

[Install]
WantedBy=multi-user.target
