[Desktop Entry]
Encoding=UTF-8
Exec=seamonkey %u
Icon=seamonkey
Type=Application
MultipleArgs=false
Name=SeaMonkey internet suite
StartupNotify=true
X-KDE-StartupNotify=true
Terminal=false
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
mailto;
StartupNotify=false
Categories=Application;Network;
