[Unit]
Description=GDM Display Manager on %I
Requires=dev-%i.device
After=dev-%i.device

[Service]
ExecStart=/usr/sbin/gdm
StandardOutput=syslog

[Install]
Alias=graphical.target.wants/gdm@tty7.service

