[Desktop Entry]
Name=Quba
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=quba
StartupWMClass=Quba
X-AppImage-Version=1.4.2
Comment=Viewer
Categories=Utility;
