[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/postgrey
ExecStartPre=/bin/rm -f /run/postgrey.pid
PIDFile=/run/postgrey.pid
ExecStart=/usr/bin/postgrey --unix=/var/spool/postfix/postgrey/socket --pidfile=/run/postgrey.pid --daemonize $POSTGREY_ARGS
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
