[Unit]
Description=KDE Display Manager
Conflicts=getty@tty12.service plymouth-quit.service
After=systemd-user-sessions.service getty@tty12.service plymouth-quit.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon
Restart=always
IgnoreSIGPIPE=no

[Install]
Alias=display-manager.service
