[Desktop Entry]
Encoding=UTF-8
Name=XSane
Comment=Scan program
Comment[de]=Scann-Programm
Comment[hu]=Lapolvasó program
Icon=xsane
Exec=xsane
Type=Application
Categories=Applications;Graphics;
