[Unit]
Description=SpamAssassin
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/spamd
ExecStart=/usr/bin/spamd -d --pidfile /var/run/spamd.pid $spamdopts
PIDFile=/var/run/spamd.pid
Type=forking
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
