[Unit]
Description=Chrony Network Time Daemon

[Service]
Type=forking
ExecStart=/usr/sbin/chronyd -s
PIDFile=/var/run/chronyd.pid

[Install]
WantedBy=multi-user.target