*~
*.asc
*.bin
*.deb
*.diff.gz
*.exe
*.fpm
*.html
*.jar
*.jpg
*.log
*.log.bz2
*.rpm
*.run
*.sig
*.sign
*.tar
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.xz
*.tbz2
*.tgz
*.xpi
*.zip
AUTHORS
Changelog*
Filelist.txt
boot
pkg
pkg.*
src
