#
# This list is used by git-shortlog to fix a few botched name
# translations, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#
# If you see any duplication in
#
# 	git shortlog -n -s
#
# then feel free to improve this file.
#

voroskoi <tailor@localhost>
Miklos Vajna <vmiklos@frugalware.org>
Miklos Vajna <mamajom@axelero.hu>
Miklos Vajna <root@linuxforum-g3.(none)>
Miklos Vajna <vmiklos@factory.frugalware.org>
CSÉCSY László <boobaa@frugalware.org>
CSECSY Laszlo <boobaa@frugalware.org>
CSECSY Laszlo <boobaa@gls.(none)>
CSECSY Laszlo <boobaa@secure.(none)>
Michel Hermier <user@zeus.(none)>
bouleetbil <bouleetbil@frogdev.info>
voroskoi <voroskoi@frugalware.org>
Priyank <priyank@frugalware.org>
Zsolt Szalai <xbit@frugalware.org>
janny <janny@frugalware.org>
Janny <janny@frugalware.org>
AlexExtreme <alex@alex-smith.me.uk>
AlexExtreme <alex@Neo.(none)>
AlexExtreme <alex.extreme2@gmail.com>
David Kimpe <DNAku@frugalware.org>
DNAku <DNAku@frugalware.org>
kry <kry@vizkom.hu>
Bence Nagy <nagybence@tipogral.hu>
Christian Hamar alias krix <krics@linuxforum.hu>
Miklos Vajna <mamajom@axelro.hu>
Priyank <priyankmg@gmail.com>
detto <detto@frugalware.org>
detto <detto@tan.(none)>
voroskoi <tailor@localhost>
crazy <crazy@frugalware>
AlexExtreme <AlexExtreme alex@alex-smith.me.uk>
DeX77 <dex@dragonslave.de>
DeX77 <dex@Joshua.dragonslave.zz>
DeX77 <dex@swordbreaker.fritz.box>
Marius Cirsta <mcirsta@frugalware.org>
