[Unit]
Description=Firebird Classic server
After=local-fs.target

[Service]
User=firebird
Group=firebird
ExecStart=/usr/sbin/fb_inet_server
StandardInput=socket
StandardError=syslog
