[Unit]
Description=Firebird Database Server ( SuperClassic )
After=syslog.target network.target

[Service]
User=firebird
Group=firebird
Type=forking
PIDFile=/run/firebird/default.pid
ExecStart=/usr/sbin/fbguard -pidfile /run/firebird/default.pid -daemon -forever
StandardError=syslog

[Install]
WantedBy=multi-user.target

