[Desktop Entry]
Encoding=UTF-8
Name=Beagle Search Tool
Comment=Index files on your desktop
Icon=system-search
Exec=beagled
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=beagle
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-enabled=true
