[Unit]
Description=Wicd a wireless and wired network manager for Linux
After=syslog.target

[Service]
ExecStart=/usr/sbin/wicd -f

[Install]
WantedBy=multi-user.target
