[Desktop Entry]
Encoding=UTF-8
Name=xawtv
Comment=TV viewer
Comment[hu]=TV-néző program
Exec=xawtv
Icon=xawtv.xpm
Type=Application
Categories=Application;AudioVideo;
