[Unit]
Description=Apply tpc configuration
After=cpupower.service

[Service]
ExecStart=/usr/sbin/tpc.sh
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
