[Desktop Entry]
Encoding=UTF-8
Name=lmms
Comment=Linux MultiMedia Studio.
Exec=lmms
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/lmms/themes/blue_scene/icon.png
Categories=Qt;KDE;AudioVideo;Player;
MimeType=
