[Unit]
Description=Apply cpupower configuration
After=syslog.target

[Service]
ExecStart=/usr/sbin/cpupower.sh
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
