[Desktop Entry]
Encoding=UTF-8
Name=PekWM
Comment=The Pek Window manager is a lightweigt and unobtrisive window manager.
Exec=pekwm
Icon=
Type=Application

