[Unit]
Description=PDNS DNS Server
After=syslog.target network.target

# Uncomment these lines if you are using gmysql backend locally.
#After=mysqld.service
#Requires=mysqld.service

# Uncomment these lines if you are using gpgsql backend locally.
#After=postgresql.service
#Requires=postgresql.service

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_server --daemon=yes --guardian=yes
ExecReload=/usr/bin/pdns_control cycle
ExecStop=/usr/bin/pdns_control quit
PIDFile=/var/run/pdns.pid

[Install]
WantedBy=multi-user.target
