[Unit]
Description=TOR Anonymizer
After=syslog.target network.target nss-lookup.target

[Service]
User=nobody
Group=nogroup
ExecStart=/usr/bin/tor --pidfile /var/run/tor/tor.pid --runasdaemon 1
PIDFile=/var/run/tor/tor.pid
Type=forking

[Install]
WantedBy=multi-user.target
