[Desktop Entry]
Encoding=UTF-8
Name=WMII
Comment=Window Manager Improved is a lightweight window manager, which attempts to combine the best features of LarsWM, Ion, evilwm, and ratpoison.
Exec=wmii
Icon=
Type=Application
