[Desktop Entry]
Encoding=UTF-8
Name=EDE
Comment=This session logs you into the Equinox Desktop Environment
Exec=startede
Icon=/usr/share/pixmaps/ede.png
Type=Application

