[Unit]
Description=Amavis Mail Filter Daemon
After=network.target

[Service]
ExecStart=/usr/lib/amavisd-new/amavisd-wrapper
PIDFile=/var/lock/amavis/amavisd.pid
Type=forking

[Install]
WantedBy=multi-user.target
