[Unit]
Description=Samba SMB/CIFS server
After=network.target nmb.service winbindd.service

[Service]
Type=forking
PIDFile=/run/smbd.pid
ExecStart=/usr/bin/smbd -D
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
