[Desktop Entry]
Comment=Clone of the classic "Number Munchers" game
Exec=gnumch
GenericName=Mathematical game
Icon=/usr/share/pixmaps/gnumch.png
Name=Gnumch
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Game;
