[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail Client
Name[hu]=Thunderbird levelezőkliens
GenericName=Mail Client
GenericName[hu]=Levelezőkliens
Comment=Read and write your email
Comment[hu]=Levelek olvasása és írása
Exec=thunderbird
StartupNotify=false
Terminal=false
Type=Application
Icon=thunderbird.png
OnlyShowIn=GNOME;XFCE;
Categories=Application;Network;
StartupWMClass=Thunderbird-bin
