[Desktop Entry]
Name=eDEX-UI
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=edex-ui
StartupWMClass=eDEX-UI
X-AppImage-Version=2.2.6
Comment=eDEX-UI sci-fi interface
Categories=System;
