[Unit]
Description=Varnish HTTP Accelerator
After=network.target

[Service]
EnvironmentFile=/etc/varnish.conf
ExecStart=/usr/bin/varnishd -P /run/varnishd.pid $VARNISHD_OPTS
PIDFile=/run/varnishd.pid
Type=forking

[Install]
WantedBy=multi-user.target
