[Unit]
Description=Varnish HTTP Accelerator
After=network.target

[Service]
EnvironmentFile=/etc/varnish.conf
ExecStart=/usr/sbin/varnishd -P /var/run/varnishd.pid $VARNISHD_OPTS
PIDFile=/var/run/varnishd.pid
Type=forking

[Install]
WantedBy=multi-user.target
