[Unit]
Description=Bring up the various network interfaces.
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/netconfig start
ExecStop=/sbin/netconfig stop && /sbin/netconfig --lodown

[Install]
WantedBy=multi-user.target

