[Unit]
Description=Web-interface based binary newsgrabber with NZB file support
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/sabnzbd
ExecStart=/bin/su - $SABNZBD_USER -c "python /usr/share/sabnzbd/SABnzbd.py -f ${SABNZBD_CONF} -s ${SABNZBD_IP}:${SABNZBD_PORT}" -s /bin/sh

[Install]
WantedBy=multi-user.target
