[Unit]
Description=Boinc Client
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/boinc-client
User=nobody
Group=nogroup
ExecStart=/usr/bin/boinc_client --daemon --dir /var/lib/boinc $BOINCOPTS
Type=forking
Nice=20

[Install]
WantedBy=multi-user.target
