[Desktop Entry]
Encoding=UTF-8
Name=TreeWM
Comment=a window manager using a nested hierarchy of windows and subdesktops
Exec=treewm
Icon=
Type=Application

