[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=root
Terminal=true
Name=ROOT
Comment=An object-oriented data analysis framework
Icon=/usr/share/root/icons/Splash.gif
StartupNotify=true
MimeType=application/x-root;text/x-c++src
Categories=Science;Development;Application;
