[Desktop Entry]
Name=Qt Assistant
Comment=Shows Qt documentation and examples
Exec=assistant-qt5
Icon=assistant5
Terminal=false
Type=Application
Categories=Qt;Development;Documentation;
