[Desktop Entry]
Encoding=UTF-8
Name=TEA
Comment=A small GTK+2 programmer's editor
Exec=tea %U
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/tea/pixmaps/tea_icon_v2.png
Categories=Application;Utility;TextEditor;
