[Desktop Entry]
Encoding=UTF-8
Name=BlackBox
Comment=A fast, light window manager without any annoying library dependencies.
Exec=blackbox
Icon=
Type=Application

