[Unit]
Description=openct daemon
After=syslog.target

[Service]
ExecStart=/usr/sbin/openct-control init
ExecStop=/usr/sbin/openct-control shutdown
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
