[Unit]
Description=Apply phc configuration
After=cpupower.service

[Service]
ExecStart=/usr/sbin/phc.sh set
ExecStop=/usr/sbin/phc.sh reset
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
