[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=XMind
GenericName=XMind
Exec=xmind
Terminal=false
Icon=xmind
Type=Application
MimeType=application/x-xmind
Categories=Application;Office;
Comment=brainstorming and mind mapping software
