[Unit]
Description=BSD Process Accounting
After=syslog.target

[Service]
ExecStart=/usr/sbin/accton /var/log/acct.log
ExecStop=/usr/sbin/accton off
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
