[Unit]
Description=BSD Process Accounting
After=syslog.target
ConditionPathExists=/var/log/account

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'if [ ! -e /var/log/account/pacct ]; then /bin/touch /var/log/account/pacct ; /bin/chmod 0600 /var/log/account/pacct; fi'
ExecStart=/usr/bin/accton /var/log/account/pacct
ExecStop=/usr/bin/accton off
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
