[Unit]
Description=Distccd A Distributed Compilation Server
After=network.target

[Service]
User=nobody
EnvironmentFile=-/etc/sysconfig/distccd
ExecStart=/usr/bin/distccd --verbose --no-detach --daemon $DISTCCD_ARGS

[Install]
WantedBy=multi-user.target
