[Desktop Entry]
Name=XEmacs
Comment=
Exec=xemacs
Icon=/usr/share/icons/crystalsvg/48x48/apps/emacs.png
Terminal=false
Categories=GNOME;Application;Development;
Type=Application
