[Unit]
Description=Small web server ASP.NET
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/xsp
ExecStart=/usr/bin/xsp2 --port $MonoServerPort --root $MonoServerRoot --nonstop --pidfile /var/run/xsp.pid
PIDFile=/var/run/xsp.pid
Type=simple

[Install]
WantedBy=multi-user.target
