[Desktop Entry]
Encoding=UTF-8
Name=FireBox
Comment=A window manager written in C, inspired by various other WMs.
Exec=firebox
Icon=firebox
Type=Application

