[Unit]
Description=Squid caching proxy
After=syslog.target network.target named.service

[Service]
Type=forking
LimitNOFILE=16384
EnvironmentFile=/etc/sysconfig/squid
ExecStartPre=/usr/lib/squid/cache_swap.sh
ExecStart=/usr/bin/squid $SQUID_OPTS -f $SQUID_CONF
ExecReload=/usr/bin/squid $SQUID_OPTS -k reconfigure -f $SQUID_CONF
ExecStop=/usr/bin/squid -k shutdown -f $SQUID_CONF

[Install]
WantedBy=multi-user.target
