[Unit]
Description=PostgreSQL Daemon
After=network.target

[Service]
Type=forking
User=postgres
Group=pgdb
OOMScoreAdjust=-1000
TimeoutSec=300
ExecStartPre=/usr/bin/pg_setup
ExecStart=/usr/bin/pg_ctl start -D /var/lib/pgsql/data -s -l /var/log/pgsql/postgresql.log -w -t 300
ExecStop=/usr/bin/pg_ctl stop -D /var/lib/pgsql/data -s -l /var/log/pgsql/postgresql.log -m fast
ExecReload=/usr/bin/pg_ctl reload -D /var/lib/pgsql/data -s -l /var/log/pgsql/postgresql.log

[Install]
WantedBy=multi-user.target
