[Unit]
Description=Compressed RAM block devices

[Service]
Type=oneshot
ExecStart=/usr/bin/zramctrl start
ExecStop=/usr/bin/zramctrl stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
