[Unit]
Description=memcached daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/memcached
Type=forking
ExecStart=/usr/bin/memcached -d -p $PORT -m $CACHESIZE -c $MAXCONN -u $USER $OPTIONS

[Install]
WantedBy=multi-user.target
