[Desktop Entry]
Encoding=UTF-8
Name=Enlightenment
Comment=A fast, flexible, and very extensible Window Manager
Exec=enlightenment
Icon=
Type=Application

