[Unit]
Description=VirtualBox Guest Service
ConditionVirtualization=oracle
Before=sddm.service gdm.service

[Service]
ExecStartPre=-/sbin/modprobe vboxguest
ExecStartPre=-/sbin/modprobe vboxvideo
ExecStartPre=-/sbin/modprobe vboxsf
ExecStart=/usr/bin/VBoxService -f

[Install]
WantedBy=multi-user.target
