[Desktop Entry]
Name=OpenTTD
Comment=Open Transport Tycoon Deluxe
Exec=openttd
Icon=/usr/share/openttd/openttd.64.png
Terminal=false
Categories=GNOME;Application;Game;
Type=Application
