/* Default color scheme */
@define-color base_color #ffffff;
@define-color bg_color #ededed;
@define-color tooltip_bg_color #343434;
@define-color selected_bg_color #4a90d9;
@define-color text_color #2e3436;
@define-color fg_color #2e3436;
@define-color tooltip_fg_color #ffffff;
@define-color selected_fg_color #ffffff;
@define-color link_color #4a90d9;
@define-color frame_color #8a9580;
@define-color inactive_frame_color #c7ccc1;
@define-color warning_color #f57900;
@define-color error_color #cc0000;
@define-color success_color #4e9a06;

@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);

* {
    font: Cantarell;
    engine: adwaita;
    padding: 1;

    /* Style properties */
    -GtkButton-child-displacement-x: 1;
    -GtkButton-child-displacement-y: 1;
    -GtkButton-default-border: 0;
    -GtkButton-image-spacing: 4;
    -GtkButton-interior-focus: true;
    -GtkToolButton-icon-spacing: 4;
    -GtkWidget-focus-padding: 2;

    -GtkCheckButton-indicator-size: 14;

    -GtkTextView-error-underline-color: #cc0000;

    -GtkPaned-handle-size: 6;

    /* The size for scrollbars. The slider is 2px smaller, but we keep it
     * up so that the whole area is sensitive to button presses for the
     * slider. The stepper button is larger in both directions, the slider
     * only in the width
     */

    -GtkScrolledWindow-scrollbar-spacing: 0;
    -GtkScrolledWindow-scrollbars-within-bevel: 1;


    -GtkMenuBar-internal-padding: 0;
    -GtkTreeView-expander-size: 10;
    -GtkToolItemGroup-expander-size: 12;
    -GtkExpander-expander-size: 12;
    -GtkToolbar-internal-padding: 4;     /* ??? */
    -GtkTreeView-vertical-separator: 0;  /* ??? */

    /* GtkScale slider size */
    -GtkScale-slider-length: 14;
    -GtkRange-slider-width: 20;


    -GtkMenu-horizontal-padding: 0;
    -GtkMenu-vertical-padding: 0;

    -GtkWidget-link-color: @link_color;
    -GtkWidget-visited-link-color: @link_color;
    -GtkIMHtml-hyperlink-color: @link_color;
    -GtkHTML-link-color: @link_color;

    -WnckTasklist-fade-overlay-rect: 0;

    -GtkEntry-inner-border: 2;
    -GtkButton-inner-border: 2;
    -GtkEntry-progress-border: 0;

    -GtkSeparatorToolItem-shadow-type: none;

    /* Style */
    background-color: @bg_color;
    color: @fg_color;
    border-radius: 3;

    /* Engine settings */
    -adwaita-focus-fill-color: alpha (#71acea, 0.165);
    -adwaita-focus-border-color: #71acea;
}

*:hover {
    background-color: shade (@bg_color, 1.02);
    color: @fg_color;
}

*:selected {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:selected:focused {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
}

*:insensitive {
    background-color: shade (@bg_color, 1.07);
    color: #a7aba7;
}

*:active {
    background-color: shade (@bg_color, 0.915);
}

.background {
    /* I like this huge gradient, but probably it would be better
    to have a fixed height gradient, not sure.*/
    /*background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 0.94)),
				     to (@bg_color)); */
    border-style: none;
    border-width: 0;
    border-radius: 0;
}

/* Text Entries */
.entry, .toolbar .entry {
    background-color: #fff;
    background-image: none;
    border-color: #579eea;
    border-radius: 3;
    border-width: 1;
    border-style: solid;
}

.entry:insensitive {
    background-color: #f4f4f2;
    border-color: #bcbfb7;
}

GtkSpinButton.button,
GtkSpinButton.button:insensitive,
GtkSpinButton.button:prelight,
GtkSpinButton.button:active {
    background-image: none;
    background-color: #fff;
    border-width: 1;
    border-style: none;
    padding: 0;
}

GtkFrame,
GtkCalendar,
GtkScale {
    padding: 2;
}

.frame {
    font: bold;
    color: lighter (@fg_color);
    border-style: none;
    border-width: 0;
}

.cell {
    background-color: @base_color;
    color: @text_color;
}

.cell:selected {
    background-color: @selected_bg_color;
}

/* Notebooks/Tabs */

.notebook {
    -adwaita-selected-tab-color: #8dc0f3;
    background-color: shade (@bg_color, 1.12);
    padding: 2;
    border-style: solid;
    border-radius: 0;
    -GtkNotebook-tab-overlay: 10;
    -GtkNotebook-tab-curvature: 5;
}

.notebook tab {
    padding: 3;
    border-radius: 2;
}

.notebook tab:active {
    background-color: @base_color;
}

/* Scrollbars */

GtkScrollbar {
    padding: 1; /* ??? */
    background-image: none;
    border-style: solid;
    -GtkRange-arrow-scaling: 0.6;
    -GtkRange-slider-width: 18; /* seems affect the whole width of the scrollbar */
    -GtkRange-stepper-size: 20; /* height on vertical and width on horizontal siders */
    -GtkScrollbar-min-slider-length: 30; /* minimum size for the slider. sadly can't be in '.slider' where it belongs */
}

GtkScrollbar.trough {
    background-color: shade (@bg_color, 0.9);
    border-width: 0;
    border-radius: 0;
    /* non uniform borders don't work
    border: 1px solid @frame_color;
    border-left: 1px solid shade (@bg_color, 0.9);
    */
}

GtkScrollbar.slider, GtkScrollbar.button {
    background-image: none;
    background-color: lighter (@bg_color);
    border-color: #a7aba7;
    border-width: 1;
    border-radius: 3;
    padding: 0;
}

GtkScrollbar.slider:prelight,
GtkScrollbar.button:prelight {
    background-image: none;
    background-color: lighter (@bg_color);
    border-color: @frame_color;
}

GtkScrollbar.slider:prelight:active,
GtkScrollbar.button:prelight:active {
    background-image: none;
    border-color: @selected_bg_color;
}

/* Buttons */
.button {
    padding: 3;

    border-radius: 3;
    border-width: 1;
    border-color: #a7aba7;
    border-style: solid;

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (shade (@bg_color, 1.06)),
				     to (shade (@bg_color, 0.95)));
}

.button:hover {
    border-color: #a7aba7;
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (#fff),
				     to (#e5e7e5));
}

.button:hover:active,
.toolbar .button:hover:active {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (#a2a9a2),
				     to (alpha (#878f87, 0.125)));
    border-color: #8a8f8a;
}

.button:insensitive {
    background-image: none;
    background-color: #f4f4f2;
    color: #a7aba7;
}

.toolbar .button:prelight {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#f4f6f4),
                                     to (#d7dad7));
    border-style: solid;
    border-radius: 3;
    border-width: 1;
    border-color: #a7aba7;
}

.button.default {
    border-width: 2;
}

GtkStatusbar {
    padding: 5;
    color: @fg_color;
    -GtkStatusbar-shadow-type: none;
}

.menubar {
    background-image: -gtk-gradient (linear,
				     left top, left bottom,
				     from (@bg_color),
				     color-stop (0.45, shade (@bg_color, 0.97)),
				     to (shade (@bg_color, 0,99));
    border-style: none;
    padding: 4;
    border-width: 0;

    -GtkWidget-window-dragging: true;
}

.menu {
    padding: -1;
    background-color: shade (@bg_color, 1.12);
    border-style: solid;
    border-width: 1;
    border-color: shade (@bg_color, 0.7);
    border-radius: 0; /* No argb visuals by default 0, it would have been nice to have it something like 4*/
    -GtkMenuItem-arrow-scaling: 0.4;
}

.menu * {
    padding: 2;
}

.menu *:active,
.menu *:prelight,
.menubar *:prelight {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@selected_bg_color, 1.3)),
				     color-stop (0.05, shade (@selected_bg_color, 0.95)),
				     color-stop (0.4, @selected_bg_color),
				     to @selected_bg_color);
    /* background-color: @selected_bg_color; */
    color: @selected_fg_color;
    border-style: solid;
    border-width: 1;
    border-radius: 0;
    border-color: darker (@selected_bg_color);
}

.menu.separator {
    padding: 1 0;
    -GtkSeparatorMenuItem-horizontal-padding: 0;
    -GtkWidget-wide-separators: 1;
    -GtkWidget-separator-width: 1;
    -GtkWidget-separator-height: 7;
}

GtkCheckButton, GtkRadioButton {
    background-color: @bg_color;
}

GtkCheckButton:prelight,
GtkRadioButton:prelight,
GtkCheckButton:selected,
GtkRadioButton:selected {
    background-color: shade (@bg_color, 1.1);
}

.check, .radio,
.check:active, .radio:active,
.check:hover, .radio:hover,
.menu .check, .menu .radio,
.menu .check:active, .menu .radio:active,
.menu .check:hover, .menu .radio:hover {
    border-color: #8f9985;
    color: #2e87e3;
    background-color: mix (#bcbfb8, #fff, 0.9);
}

.check:insensitive,
.radio:insensitive {
    border-color: #d3d7cf;
    background-color: #bcbfb8;
    color: shade (#d3d7cf, 0.9);
}

.trough {
    border-width: 1;
    border-style: solid;
    border-color: #b8beb1;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#ccccc7),
                                     to (#e4e4e1));
}

.progressbar {
    padding: 0;
    border-radius: 3;
    background-color: @selected_bg_color;
    border-style: solid;
    border-color: darker (@selected_bg_color);
    color: @selected_fg_color;
}

column-header {
    padding: 1 2;
}

.tooltips {
    padding: 4 4;
    background-color: @tooltip_bg_color;
    color: @tooltip_fg_color;
}

/* Toolbars */

GtkWindow > GtkTable > .toolbar, /* nautilus */
GtkWindow > GtkVBox > EggEditableToolbar > GtkHBox > .toolbar, /* eog etc */
GtkWindow > GtkVBox > .toolbar {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
				     from (shade (@bg_color, 0.6)),
				     color-stop (0.02, shade (@bg_color, 0.6)),
				     color-stop (0.03, shade (@bg_color, 0.7)),
				     color-stop (0.2, shade (@bg_color, 0.75)),
				     color-stop (0.8, shade (@bg_color, 0.8)),
				     color-stop (0.96, shade (@bg_color, 0.95)),
				     color-stop (0.97, shade (@bg_color, 0.8)),
				     color-stop (0.98, shade (@bg_color, 1.2)),
				     to (shade (@bg_color, 1.2)));
    border-radius: 0;
    border-style: none;
    padding: 4;
    border-width: 0;
}

GtkWindow > GtkVBox > EggEditableToolbar > GtkHBox > GtkToolbar .button,
GtkWindow > GtkVBox > GtkToolbar .button {
      border-style: none;
      border-width: 0;

      background-image: -gtk-gradient (linear,
				       left top, left bottom,
				       from (alpha (shade (@bg_color, 0.75), 0.0)),
				       color-stop (0.3, alpha (shade (@bg_color, 0.9), 0.0)),
				       color-stop (0.6, alpha (shade (@bg_color, 0.9), 0.0)),
				       to (alpha (shade (@bg_color, 0.85), 0.0)));
      -GtkWidget-focus-line-width: 0;
  }

  /* GtkToolbar .button:focused {
      background-color: red;
  } this pseudo-class doesn't work */ 

GtkWindow > GtkVBox > EggEditableToolbar > GtkHBox > GtkToolbar .button:hover,
GtkWindow > GtkVBox > GtkToolbar .button:hover { /* needs correct colors */
      background-image: -gtk-gradient (linear,
				       left top, left bottom,
				       from (shade (@bg_color, 0.75)),
				       color-stop (0.3, shade (@bg_color, 0.9)),
				       color-stop (0.6, shade (@bg_color, 0.9)),
				       to (shade (@bg_color, 0.85)));
  }

GtkWindow > GtkVBox > EggEditableToolbar > GtkHBox > GtkToolbar .button:active, GtkToolbar .button:active:prelight,
GtkWindow > GtkVBox > GtkToolbar .button:active, GtkToolbar .button:active:prelight { /* needs correct colors */
      border-style: none;
      border-width: 0;
      background-image: -gtk-gradient (linear,
				       left top, left bottom,
				       from (shade (@bg_color, 0.75)),
				       color-stop (0.3, shade (@bg_color, 0.9)),
				       color-stop (0.6, shade (@bg_color, 0.9)),
				       to (shade (@bg_color, 0.85)));
  }

GtkWindow > GtkVBox > EggEditableToolbar > GtkHBox > .toolbar.separator,
GtkWindow > GtkVBox > .toolbar.separator {
      padding: 1 0;
      background-color: shade (@bg_color, 0.8);
      -GtkVSeparator-vertical-padding: 0;
      -GtkWidget-wide-separators: 1;
      -GtkWidget-separator-width: 7;
      -GtkWidget-separator-height: 1;
  }

GtkSeparator {
    -GtkSeparator-shadow-type: none;
}

GtkScrolledWindow.frame {
    border-style: solid;
    border-color: darker (@bg_color);
    border-width: 1;
    border-radius: 3;
    padding: 1;
}

GtkViewport,
GtkTreeView,
GtkIconView {
    border-radius: 3;
    padding: 0;
}

GtkTreeView * {
    border-radius: 0;
    border-width: 0;
}

.view {
    background-color: @base_color;
    color: @fg_color;
    border-radius: 0;
}

row:selected:focused {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                                     from (#1f72c6),
                                     color-stop (0.05, #1f72c6),
                                     color-stop (0.05, #76b0ec),
                                     to (#1f72c6));
}

row:selected {
    background-image: -gtk-gradient (linear,
				     left top,
				     left bottom,
                                     from (mix (#1f72c6, @bg_color, 0.8)),
                                     color-stop (0.05, mix (#1f72c6, @bg_color, 0.8)),
                                     color-stop (0.05, mix (#76b0ec, @bg_color, 0.8)),
                                     to (mix (#1f72c6, @bg_color, 0.8)));
}


GtkTreeView GtkButton, /* FIXME: Remove this selector when treeview patches get in */
column-header .button {
    border-width: 0;
    border-radius: 0;
    border-color: #babdb6;
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (#f7f7f7),
                                     to (#d3d3d3));
}

.expander,
.expander:active {
    border-color: #797b76;
    background-color: #f5f5f4;
    color: #4e93da;
}

.expander:prelight {
    border-color: #555753;
    background-color: #888a85;
    color: #fff;
}

GtkSwitch.trough {
    border-radius: 3;
    border-width: 1;
    border-style: solid;
    border-color: #a9afa0;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#e4e4e1),
                                     to (#ccccc7));
}

GtkSwitch.trough:active {
    border-color: #3687db;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#84b8ee),
                                     to (#509ae7));
}

GtkSwitch.trough:insensitive {
    background-image: none;
    background-color: shade (@bg_color, 0.9);
    border-color: #a9afa0;
}

GtkSwitch.slider,
GtkScale.slider {
    border-width: 1;
    border-radius: 2;
    border-color: #b5bcae;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (#eeeeec),
                                     to (#fff));
}

GtkScale.trough {
    border-radius: 3;
}

/* Calendars */
GtkCalendar.view {
    border-radius: 3;
    border-style: solid;
    border-width: 1;
    padding: 2;
}

GtkCalendar.header {
    border-radius: 0;
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (#f7f7f7),
                                     to (#d3d3d3));
    border-width: 0;
}

GtkCalendar.button {
    background-image: -gtk-gradient (linear,
                                     left top,
                                     left bottom,
                                     from (rgba (0, 0, 0, 0)),
                                     to (rgba (0, 0, 0, 0)));
}

.highlight,
GtkCalendar.highlight {
    background-color: @selected_bg_color;
    color: @selected_fg_color;
    border-radius: 0;
    padding: 0;
    border-width: 0;
}

.info {
    background-color: @info_bg_color;
    color: @info_fg_color;
}

.warning {
    background-color: @warning_bg_color;
    color: @warning_fg_color;
}

.question {
    background-color: @question_bg_color;
    color: @question_fg_color;
}

.error {
    background-color: @error_bg_color;
    color: @error_fg_color;
}

/* Custom colors for some applications' widgets */
#nautilus-extra-view-widget {
    background-color: mix (shade (@bg_color, 1.05), @selected_bg_color, 0.60);
}

ApDocView, /* Abiword */
EogScrollView, /* Eog */
CheeseThumbView /* Cheese */
{
    background-color: #1e1a17;
    -EogScrollView-shadow-type: none;
}

/* gnome-terminal */
TerminalScreen {
    background-color: @bg_color;
    color: #000;
    -TerminalScreen-background-darkness: 0.95;
}

/* For old gnome-panel */
PanelWidget,
PanelApplet,
PanelToplevel {
    background-color: #1e1a17;
    color: #fff;
}
