[Desktop Entry]
Type=Application
Terminal=0
Name=CompLex Jogtár
Name[hu]=CompLex Jogtár
Comment=KJK-Kerszöv CompLex CD Jogtár
Comment[hu]=KJK-Kerszöv CompLex CD Jogtár
Exec=xcomplex
Icon=/usr/share/pixmaps/complexjogtar.png
Section=Applications
Categories=Application;Office;
