[Unit]
Description=svnserve
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/svnserve
ExecStart=/usr/bin/svnserve -d $SVNSERVE_OPTIONS
Type=forking

[Install]
WantedBy=multi-user.target
