[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=XQed
Comment=Quick Dictionary
Comment[hu]=Gyorsfordító szótárprogram
Exec=xqed
Icon=gdict
Categories=Application;Utility;
