[Desktop Entry]
Encoding=UTF-8
Name=Glipper
Comment=Clipboard Manager
Type=Application
Icon=glipper.png
Exec=glipper
OnlyShowIn=GNOME
StartupNotify=false
