[Desktop Entry]
Version=1.0
Type=Application
Name=Calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
TryExec=calibre
Exec=calibre
Icon=calibre-gui
Categories=Office;
MimeType=application/x-cbr;application/ereader;application/oebps-package+xml;application/x-sony-bbeb;application/x-mobipocket-ebook;application/vnd.ctc-posml;application/epub+zip;application/x-cbz;
