[Desktop Entry]
Version=1.0
Type=Application
Name=E-book Viewer
GenericName=Viewer for E-books
Comment=Viewer for E-books in all the major formats
TryExec=ebook-viewer
Exec=ebook-viewer %F
Icon=calibre-viewer
Categories=Graphics;Viewer;
MimeType=application/x-cbr;application/ereader;application/oebps-package+xml;application/x-sony-bbeb;application/x-mobipocket-ebook;application/vnd.ctc-posml;application/epub+zip;application/x-cbz;
