[Unit]
Description=Easily share your mouse and keyboard between multiple computers
After=syslog.target

[Service]
ExecStart=/usr/bin/synergys --config /etc/synergy.conf
Type=forking

[Install]
WantedBy=multi-user.target

