[Desktop Entry]
Encoding=UTF-8
Name=Gfpm
Comment=Graphical Frugalware Package Manager
Exec=kdesu gfpm
Icon=gfpm.png
Terminal=false
Type=Application
Categories=KDE;Application;System;
OnlyShowIn=KDE

