[Unit]
Description=Show Splashy Halt Screen
After=getty@tty1.service prefdm.service
Before=halt.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-splashy shutdown 'Halting...'
Type=forking
