[Unit]
Description=Show Splashy Reboot with kexec Screen
After=getty@tty1.service prefdm.service
Before=kexec.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-splashy shutdown 'Rebooting with kexec...'
Type=forking
