[Unit]
Description=Show Splashy Power Off Screen
After=getty@tty1.service prefdm.service
Before=poweroff.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-splashy shutdown 'Powering Off...'
Type=forking
