[Unit]
Description=Terminate Splashy Boot Screen
Before=getty@tty1.service
After=dev-tty1.device local.service splashy-start.service

[Service]
ExecStart=-/usr/sbin/splashy_update exit
Type=oneshot
