[Unit]
Description=Show Splashy Boot Screen
DefaultDependencies=no
After=systemd-vconsole-setup.service udev-settle.service

[Service]
ExecStart=/lib/systemd/systemd-splashy boot 'Booting...'
Type=forking
