[Unit]
Description=Show Splashy Reboot Screen
After=getty@tty1.service prefdm.service
Before=reboot.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-splashy shutdown 'Rebooting...'
Type=forking
