[Unit]
Description=Courier IMAP SSL Server
Requires=courier-authlib.service
After=courier-authlib.service

[Service]
EnvironmentFile=/etc/courier/imapd
EnvironmentFile=/etc/courier/imapd-ssl
Environment=IMAP_TLS=1
UMask=$IMAP_UMASK
MemoryLimit=${IMAP_ULIMITD}K
ExecStartPre=-/bin/rm -f $TLS_CACHEFILE
ExecStart=/usr/lib/courier/couriertcpd -address=${SSLADDRESS} -stderrlogger=/usr/sbin/courierlogger -stderrloggername=imapd-ssl -maxprocs=${MAXDAEMONS} -maxperip=${MAXPERIP} -pid=${SSLPIDFILE} $TCPDOPTS $SSLPORT $COURIERTLS -server -tcpd /usr/sbin/imaplogin /usr/bin/imapd $MAILDIRPATH
ExecStop=/usr/lib/courier/couriertcpd -pid=${SSLPIDFILE} -stop
PIDFile=$SSLPIDFILE
Type=forking

[Install]
WantedBy=multi-user.target
