[Unit]
Description=Courier IMAP Server
Requires=courier-authlib.service
After=courier-authlib.service

[Service]
EnvironmentFile=/etc/courier/imapd-ssl
EnvironmentFile=/etc/courier/imapd
UMask=$IMAP_UMASK
MemoryLimit=${IMAP_ULIMITD}K
ExecStartPre=-/bin/rm -f $TLS_CACHEFILE
ExecStart=/usr/lib/courier/couriertcpd -address=${ADDRESS} -stderrlogger=/usr/sbin/courierlogger -stderrloggername=imapd -maxprocs=${MAXDAEMONS} -maxperip=${MAXPERIP} -pid=${PIDFILE} $TCPDOPTS $PORT /usr/sbin/imaplogin /usr/bin/imapd $MAILDIRPATH
ExecStop=/usr/lib/courier/couriertcpd -pid=${PIDFILE} -stop
PIDFile=$PIDFILE
Type=forking

[Install]
WantedBy=multi-user.target
