[Unit]
Description=Courier POP3D Server
Requires=courier-authlib.service
After=courier-authlib.service

[Service]
EnvironmentFile=/etc/courier/pop3d-ssl
EnvironmentFile=/etc/courier/pop3d
ExecStart=/usr/lib/courier/couriertcpd -address=${ADDRESS} -stderrlogger=/usr/sbin/courierlogger -stderrloggername=pop3d -maxprocs=${MAXDAEMONS} -maxperip=${MAXPERIP} -pid=${PIDFILE} $TCPDOPTS $PORT /usr/sbin/pop3login /usr/bin/pop3d $MAILDIRPATH
ExecStop=/usr/lib/courier/couriertcpd -pid=${PIDFILE} -stop
PIDFile=$PIDFILE
Type=forking

[Install]
WantedBy=multi-user.target
