[Desktop Entry]
Name=QGit
Comment=A graphical interface to git repositories
Exec=qgit
Icon=/usr/share/qgit/qgit.png
Terminal=false
Type=Application
Categories=Application;Development;
Encoding=UTF-8
