[Unit]
Description=minidlna
After=network.target

[Service]
ExecStart=/usr/sbin/minidlna -v -f /etc/minidlna.conf
Type=forking

[Install]
WantedBy=multi-user.target
