[Desktop Entry]
Encoding=UTF-8
Name=PekWM
Comment=A lightweight window manager, originally based off aewm++.
Exec=pekwm-session
Icon=
Type=Application

