[Desktop Entry]
Name=Threema
Comment=Desktop client for Threema (requires the mobile app)
GenericName=Threema Desktop Client
Exec=threema %U
Icon=threema-desktop
Type=Application
StartupNotify=true
StartupWMClass=threema-web
Categories=Network;InstantMessaging;Chat;


