#lxdm {
	background-image: url("wave.svg")
}

#bottom_pane {
	background-image: url("shade.png")
}

#time {
	font: Sans 12;
	color: #ffffff
}

#user_list, #login_entry {
	background-image: none
}

#prompt, #bottom_pane GtkLabel {
	color: #ffffff
}

