[Unit]
Description=Lxdm Display Manager on %I
Requires=dev-%i.device
After=dev-%i.device

[Service]
ExecStart=/usr/sbin/lxdm
StandardOutput=syslog

[Install]
Alias=graphical.target.wants/lxdm@tty7.service

