[Desktop Entry]
Name=Jitsi (SIP Communicator)
GenericName=Java VoIP and Instant Messaging client
GenericName[de]=VoIP and Instant Messaging Programm
Comment=Support for SIP, Jabber, AIM/ICQ, MSN, Yahoo!, Bonjour, IRC, RSS and other
Exec=jitsi
Icon=jitsi
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Telephony;
