#!/bin/bash

# (c) 2005 Marcus Habermehl <bmh1980de@yahoo.de>
# (c) 2003 Vajna Miklos <vmiklos@frugalware.org>
# rc.keymap for FrugalWare
# distributed under GPL License

# chkconfig: 2345 80 50
# description: Load the keyboard map, specified in /etc/sysconfig/keymap

source /lib/initscripts/functions
TEXTDOMAIN=keymap
TEXTDOMAINDIR=/lib/initscripts/messages

actions=(start stop status)

pid="test -f /var/lock/subsys/keymap && echo running"

rc_start()
{
	msg $"Loading keyboard map"
	if [ -f /etc/sysconfig/keymap ] ; then
		source /etc/sysconfig/keymap
		if [ ! -z ${keymap} ] ; then
			loadkeys ${keymap} >/dev/null
			ok $?
		else
			ok 999
			hint $"You haven't set a keymap in /etc/sysconfig/keymap"
		fi
	else
		ok 999
	fi
	if ! echo $LANG |grep -qi utf; then
		for i in `seq 1 12`
		do
			kbd_mode -a -C /dev/tty$i
			echo -n -e '\033%@' > /dev/tty$i
		done
	fi
	[ -d /var/lock/subsys ] || mkdir -p /var/lock/subsys
	touch /var/lock/subsys/keymap
}

rc_stop()
{
	rm -f /var/lock/subsys/keymap
}

rc_exec $1
