[Unit]
Description=Prosody XMPP Server
After=network.target

[Service]
PIDFile=/var/run/prosody/prosody.pid
ExecStart=/usr/bin/prosodyctl start
ExecStop=/usr/bin/prosodyctl stop
Type=forking

[Install]
WantedBy=multi-user.target
