[Desktop Entry]
Type=Application
Name=GNOME power manager
Exec=gnome-power-manager.desktop
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
