[Unit]
Description=OpenNTP Daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/ntpd
ExecStart=/usr/sbin/ntpd -d $PARAMS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
