[Unit]
Description=ushare
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/ushare
ExecStart=/usr/bin/ushare -D -i $USHARE_IFACE -n $USHARE_NAME $USHARE_OPTS $USHARE_DIRS
Type=forking

[Install]
WantedBy=multi-user.target
