[Unit]
Description=Ethtool configuration for %i
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/ethtool.d/ethtool@%i.conf
ExecStart=/usr/sbin/ethtool $ETHTOOL_ARGS
Type=oneshot

[Install]
WantedBy=multi-user.target
