[Unit]
Description=HAL Hardware Manager
After=syslog.target

[Service]
ExecStart=/usr/sbin/hald --daemon=no --use-syslog
Type=dbus
BusName=org.freedesktop.Hal
