/* Allow user guest to execute calamares
 * without password authentication, similar to "sudo NOPASSWD:"
 */
polkit.addRule(function(action, subject) {
    if (action.id == "com.github.calamares.calamares.pkexec.run" && subject.user == "guest")
    {
        return polkit.Result.YES;
    }
});
