[Desktop Entry]
Type=Application
Version=1.0
Name=Install FrugalWare
GenericName=FrugalWare Installer
Keywords=calamares;system;installer;frugalware
TryExec=calamares
Exec=pkexec /usr/bin/calamares -d
Comment=Calamares — System Installer for FrugalWare
Icon=calamares-frugalware
Terminal=false
StartupNotify=true
Categories=Qt;System;
