[Unit]
Description=FVBE Locale and Keymap Setup
After=sysinit.target
Before=default.target

[Service]
ExecStart=/usr/lib/fvbe/calamares-locale-setup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
