[Unit]
Description=LIRC Infrared Signal Decoder
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/lirc
PIDFile=/var/run/lirc/lircd.pid
ExecStart=/usr/sbin/lircd $LIRCD_OPTIONS

[Install]
WantedBy=multi-user.target
