[Unit]
Description=preload daemon
After=syslog.target

[Service]
ExecStart=/usr/sbin/preload -c /etc/preload.conf -s /var/lib/preload/preload.state -l /var/log/preload.log
Type=forking

[Install]
WantedBy=multi-user.target
