[Desktop Entry]
Encoding=UTF-8
Name=Hardware
Name[bn]=হার্ডওয়ার
Name[cs]=Hardware
Name[da]=Udstyr
Name[de]=Hardware Browser
Name[el]=Υλικό
Name[es]=Hardware
Name[fi]=Laitteisto
Name[fr]=Matériel
Name[gu]=હાર્ડવેર
Name[hi]=हार्डवेयर
Name[hr]=Hardver
Name[hu]=Hardver
Name[is]=Vélbúnaður
Name[it]=Hardware
Name[ja]=ハードウェア
Name[ko]=하드웨어
Name[ms]=Perkakasan
Name[nl]=Hardware
Name[pa]=ਹਾਰਡਵੇਅਰ
Name[pt]='Hardware'
Name[pt_BR]=Hardware
Name[ru]=Обзор оборудования
Name[sr]=Хардвер
Name[sr@Latn]=Hardver
Name[sv]=Hårdvara
Name[ta]=வன்பொருள்
Name[tr]=Donanım
Name[zh_CN]=硬件
Name[zh_TW]=硬體
GenericName=Hardware
GenericName[bn]=হার্ডওয়ার
GenericName[cs]=Hardware
GenericName[da]=Udstyr
GenericName[de]=Hardware Browser
GenericName[el]=Υλικό
GenericName[es]=Hardware
GenericName[fi]=Laitteisto
GenericName[fr]=Matériel
GenericName[gu]=હાર્ડવેર
GenericName[hi]=हार्डवेयर
GenericName[hr]=Hardver
GenericName[hu]=Hardver
GenericName[is]=Vélbúnaður
GenericName[it]=Hardware
GenericName[ja]=ハードウェア
GenericName[ko]=하드웨어
GenericName[ms]=Perkakasan
GenericName[nl]=Hardware
GenericName[pa]=ਹਾਰਡਵੇਅਰ
GenericName[pt]='Hardware'
GenericName[pt_BR]=Hardware
GenericName[ru]=Обзор оборудования
GenericName[sr]=Хардвер
GenericName[sr@Latn]=Hardver
GenericName[sv]=Hårdvara
GenericName[ta]=வன்பொருள்
GenericName[tr]=Donanım
GenericName[zh_CN]=硬件
GenericName[zh_TW]=硬體
Comment=View information on the hardware on this computer
Comment[ar]=عرض معلومات العتاد بهذا الحاسوب
Comment[bn]=এই কম্পিউটারের হার্ডওয়ার তথ্য প্রদর্শন করো
Comment[cs]=Zobrazit informace o hardware v tomto počítači
Comment[da]=Se information om udstyr på denne maskine
Comment[de]=Informationen über die Hardware in diesem Computer ansehen
Comment[el]=Προβολή πληροφοριών για το υλικό αυτού του υπολογιστή
Comment[es]=Ver información acerca del hardware de este ordenador
Comment[fi]=Näytä tietoja tämän tietokoneen laitteistosta
Comment[fr]=Visionner les informations du matériel sur cet ordinateur
Comment[gu]=આ કમ્પ્યુટર પર હાર્ડવેરની જાણકારી જુઓ
Comment[hi]=इस कंप्यूटर पर हार्डवेयर के संबंध में सूचना देखें
Comment[hr]=Pregled podataka o hardveru na ovom računalu
Comment[hu]=A számítógép hardverjellemzőinek megjelenítése
Comment[is]=Skoða upplýsingar um vélbúnaðinn í þessari tölvu
Comment[it]=Visualizzare su questo computer le informazioni hardware
Comment[ja]=このコンピュータのハードウェアに関する情報を表示
Comment[ko]=이 컴퓨터의 하드웨어 정보 보기
Comment[ms]=Lihat maklumat perkakasan pada komputer ini
Comment[nl]=Informatie over de hardware op deze computer weergeven
Comment[no]=Vis informasjon om maskinvaren på denne maskinen
Comment[pa]=ਇਸ ਕੰਪਿਊਟਰ ਉੱਪਰ ਹਾਰਡਵੇਅਰ ਲਈ ਜਾਣਕਾਰੀ ਵੇਖੋ
Comment[pt]=Ver informações do hardware deste computador
Comment[pt_BR]=Visualizar informações sobre o hardware deste computador
Comment[ru]=Сведения об оборудовании, установленном на этом компьютере
Comment[sk]=Zobraziť informácie o hardvéri v tomto počítači
Comment[sl]=Prikaži podatke o strojni opremi tega računalnika.
Comment[sr]=Преглед информација о хардверу у овом рачунару
Comment[sr@Latn]=Pregled informacija o hardveru u ovom računaru
Comment[sv]=Visa information om hårdvaran på denna dator
Comment[ta]=இந்த கணினியில் உள்ள வன்பொருள் தகவல்களைப் பற்றி பார் 
Comment[tr]=Bilgisayardaki donanım hakkında bilgi göster
Comment[vi]=Xem thông tin phần cứng trên mới
Comment[zh_CN]=查看该计算机上的硬件信息
Comment[zh_TW]=檢視這部電腦上硬體的資訊
Exec=hal-device-manager
Terminal=0
Type=Application
Icon=hwbrowser.png
StartupNotify=true
Categories=Application;System;Monitor;
