[Unit]
Description=iperf server
After=network.target

[Service]
User=nobody
Group=nobody
ExecStart=/usr/bin/iperf -s
Type=simple

[Install]
WantedBy=multi-user.target
