[Unit]
Description=nginx daemon
After=network.target

[Service]
ExecStart=/usr/sbin/nginx
PIDFile=/var/run/nginx.pid
Type=forking

[Install]
WantedBy=multi-user.target
