#!/bin/bash

# (c) 2007 Andras Voroskoi <voroskoi@frugalware.org>
# rc.nginx for FrugalWare
# distributed under GPL License

# chkconfig: 2345 85 15
# description: Starts or stops the nginx web and mail server

source /lib/initscripts/functions
TEXTDOMAIN=nginx
TEXTDOMAINDIR=/lib/initscripts/messages

actions=(restart start stop)
daemon=$"nginx daemon"

pid="cat /var/run/nginx.pid 2> /dev/null"

rc_start() {
	start_msg
	if [ "$(eval $pid)" == "" ]; then
		/usr/sbin/nginx
		ok $?
	else
		ok 999
	fi
}

rc_stop() {
	stop_msg
	if [ "$(eval $pid)" != "" ]; then
		kill "$(eval $pid)"
		ok $?
	else
		ok 999
	fi
}

rc_exec $1
