[Desktop Entry]
Encoding=UTF-8
Name=OpenBox
Comment=A standards compliant, fast, light-weight, extensible window manager
Exec=openbox
Icon=
Type=Application

