[Unit]
Description=speechd
After=syslog.target

[Service]
ExecStart=/usr/bin/speech-dispatcher -d -P /var/run/speechd.pid
PIDFile=/var/run/speechd.pid
Type=forking

[Install]
WantedBy=multi-user.target
