[Unit]
Description=Console Mouse manager
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/gpm
ExecStart=/usr/sbin/gpm -m /dev/${dev} -t ${type}
Type=forking
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
