[Unit]
Description=Simple Network Management Protocol
After=network.target

[Service]
ExecStart=/usr/bin/snmpd -p /run/snmpd.pid
PIDFile=/run/snmpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
