[Unit]
Description=Simple Network Management Protocol
After=network.target

[Service]
ExecStart=/usr/sbin/snmpd -p /var/run/snmpd.pid
PIDFile=/var/run/snmpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
