[Unit]
Description=POP3 Virus Scanner Proxy Server
After=network.target

[Service]
PIDFile=/var/run/p3scan/p3scan.pid
ExecStart=/usr/sbin/p3scan
Type=forking

[Install]
WantedBy=multi-user.target
