[Unit]
Description=Dropbear SSH Server
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/dropbear
ExecStart=/usr/bin/dropbear -F -T 5 $DPORT $DNO_ROOT $DNO_ROOT_PW $DNO_USER_PW $DGROUP_ONLY -P /run/dropbear.pid -R

[Install]
WantedBy=multi-user.target
