[Desktop Entry]
Encoding=UTF-8
Name=GParted
Name[bg]=GParted
Name[ca]=GParted
Name[cs]=GParted
Name[de]=GParted
Name[el]=GParted
Name[en_CA]=GParted
Name[en_GB]=GParted
Name[es]=GParted
Name[fi]=GParted
Name[fr]=GParted
Name[gl]=GParted
Name[he]=GParted
Name[hu]=GParted
Name[it]=GParted
Name[lt]=GParted
Name[mk]=Гпартед
Name[nl]=GParted
Name[pa]=GParted
Name[pt]=GParted
Name[pt_BR]=GParted
Name[ru]=GParted
Name[sv]=GParted
Name[uk]=GParted
Name[vi]=GParted
Name[zh_CN]=GParted
Name[zh_TW]=GParted
Comment=Gnome Partition Editor
Comment[bg]=GNOME Редактор на дялове на хард диск
Comment[ca]=Editor de particions del GNOME
Comment[cs]=Editor oddílů pro Gnome
Comment[de]=GNOME Partitionierungswerkzeug
Comment[el]=Επεξεργαστής διαμερισμάτων δίσκων του Gnome 
Comment[en_CA]=Gnome Partition Editor
Comment[en_GB]=Gnome Partition Editor
Comment[es]=Editor de particiones de Gnome
Comment[fi]=Gnomen levyosioiden muokkain
Comment[fr]=Éditeur de partition de Gnome
Comment[gl]=Editor de particións de Gnome
Comment[he]=עורך המחיצות של GNOME
Comment[hu]=Gnome partíciószerkesztő
Comment[it]=Editor di partizioni per GNOME
Comment[lt]=Gnome skirsnių redaktorius
Comment[mk]=Уредувач на партиции за Гном
Comment[nl]=Gnome Partitiebewerker
Comment[pa]=ਗਨੋਮ ਭਾਗ ਸੰਪਾਦਕ
Comment[pt]=Editor de Partições do Gnome
Comment[pt_BR]=Editor de Partições do GNOME
Comment[ru]=Редактор разделов диска для GNOME
Comment[sv]=Gnome-partitionsredigerare
Comment[uk]=Редактор розділів дисків для GNOME
Comment[vi]=Bộ hiệu chỉnh phân vùng Gnome
Comment[zh_CN]=Gnome 分区编辑器
Comment[zh_TW]=Gnome 分割區編輯器
Exec=kdesu /usr/sbin/gparted
Icon=gparted
Terminal=false
Type=Application
Categories=KDE;Application;System;
OnlyShowIn=KDE
