[Desktop Entry]
Name=gnokii
Comment=Linux/Unix tool suite for the mobile phones
Icon=gnokii.png
Exec=xgnokii
Terminal=false
Type=Application
Categories=GTK;Office;PDA;Communication;
