[Unit]
Description=oidentd ident daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/oidentd
ExecStart=/usr/sbin/oidentd -u $USER -g $GROUP $OPTIONS
Type=forking

[Install]
WantedBy=multi-user.target
