[Desktop Entry]
Name=Azureus
Comment=Azureus BitTorrent Client
Comment[hu]=Azureus BitTorrent kliens
Exec=azureus
Icon=azureus.png
Terminal=false
Categories=Application;Network;
Type=Application
