[Desktop Entry]
Encoding=UTF-8
Name=Floating Frugalware
Comment=A Frugalware logo floating round the screen
Exec=floaters /usr/share/pixmaps/frugal-logo.png
TryExec=floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
