[Desktop Entry]
Type=Application
Name=GNOME Screensaver
Exec=gnome-screensaver.bin
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
