[Unit]
Description=Ejabber daemon
After=network.target

[Service]
User=ejabberd
Group=ejabberd
ExecStart=/usr/sbin/ejabberdctl start
ExecStop=/usr/sbin/ejabberdctl stop
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
