[Unit]
Description=CLI Netfilter Manager

[Service]
Type=oneshot
ExecStart=/usr/sbin/ufw enable
ExecStop=/usr/sbin/ufw disable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
