[Unit]
Description=Apache Web Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/httpd -k start
ExecStop=/usr/sbin/httpd -k graceful-stop
ExecReload=/usr/sbin/httpd -k graceful
PrivateTmp=true
LimitNOFILE=infinity
KillMode=mixed
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target

