[Unit]
Description=Apache web server
After=network.target

[Service]
ExecStart=/usr/sbin/httpd
PIDFile=/var/run/httpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
