[Unit]
Description=Apache Web Server
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/httpd -k start
ExecStop=/usr/bin/httpd -k graceful-stop
ExecReload=/usr/bin/httpd -k graceful
PrivateTmp=true
LimitNOFILE=infinity
KillMode=mixed
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target

