[Unit]
Description=Postfix Mail Transport Agent
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/var/spool/postfix/pid/master.pid
ExecStartPre=/usr/bin/newaliases
ExecStart=/usr/bin/postfix start
ExecReload=/usr/bin/postfix reload
ExecStop=/usr/bin/postfix stop

[Install]
WantedBy=multi-user.target
