[Unit]
Description=noip2 daemon
After=network.target

[Service]
ExecStart=/usr/bin/noip2 -c /etc/no-ip2.conf
Type=forking

[Install]
WantedBy=multi-user.target
