[Desktop Entry]
Encoding=UTF-8
Name=Eric
Comment=Python (and Ruby) IDE
Exec=eric4
Terminal=false
Type=Application
StartupNotify=true
#MimeType=application/x-asp;application/docbook+xml;application/x-javascript;application/x-perl;application/x-php;application/x-ruby;application/x-shellscript;application/xslt+xml;
MimeType=text/css;text/html;text/x-c++hdr;text/x-c++src;text/x-csharp;text/x-chdr;text/x-csrc;text/x-dtd;text/x-idl;text/x-java;text/x-patch;text/x-python;text/x-sql;text/x-tex;text/xml
Icon=eric4
Categories=Application;Development;
