[Desktop Entry]
Encoding=UTF-8
Name=DrGeo
GenericName=Interactive geometry
GenericName[fr]=Géométrie dynamique
Exec=drgeo
Icon=drgeo.png
Terminal=false
Type=Application
Categories=Education;Math;