[Unit]
Description=GNU Mailing List Manager
After=network.target

[Service]
ExecStart=/usr/lib/mailman/bin/mailmanctl -s -q start
ExecStop=/usr/lib/mailman/bin/mailmanctl -q stop
ExecReload=/usr/lib/mailman/bin/mailmanctl -q restart
Type=forking

[Install]
WantedBy=multi-user.target
