[Unit]
Description=GNU Mailing List Manager
After=network.target

[Service]
ExecStart=/home/mailman/bin/mailmanctl -s -q start
ExecStop=/home/mailman/bin/mailmanctl -q stop
ExecReload=/home/mailman/bin/mailmanctl -q restart
Type=forking

[Install]
WantedBy=multi-user.target
