[Unit]
Description=FTPD Daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/ftpd.pid
ExecStart=/usr/lib/inetutils/ftpd -D
ExecStopPost=/usr/lib/inetutils/rm -f /run/ftpd.pid

[Install]
WantedBy=multi-user.target
