[Unit]
Description=Keylogger daemon

[Service]
Type=forking
GuessMainPID=yes
EnvironmentFile=/etc/sysconfig/logkeysd
ExecStart=/usr/bin/logkeys --start $LOGKEYS_PARAMS
ExecStop=/usr/bin/logkeys --kill

[Install]
WantedBy=multi-user.target
