[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kqemu
Icon=blockdevice.png
Name=kqemu
Name[hu]=kqemu
Comment=KDE GUI for Qemu
Comment[hu]=KDE felulet Qemu-hoz
X-DCOP-ServiceType=None
Categories=Qt;KDE;System;
