[Unit]
Description=A persistent key-value database
After=syslog.target network.target

[Service]
Type=simple
PIDFile=/var/run/redis/redis.pid
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
ExecStop=/usr/bin/redis-cli shutdown
Restart=always
User=redis
Group=redis
LimitNOFILE=10032
PrivateTmp=true

[Install]
WantedBy=multi-user.target
