[Unit]
Description=Syslog-ng System Logging Service

[Service]
ExecStartPre=/bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart=/usr/sbin/syslog-ng -F -p /var/run/syslog-ng.pid
Sockets=syslog.socket
StandardOutput=null

[Install]
WantedBy=multi-user.target
