[Unit]
Description=Show plymouth Halt Screen
After=getty@tty1.service prefdm.service
Before=halt.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-plymouth 'Halting...'
Type=forking
