[Unit]
Description=Show plymouth Reboot with kexec Screen
After=getty@tty1.service prefdm.service
Before=kexec.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-plymouth 'Rebooting with kexec...'
Type=forking
