[Unit]
Description=Show plymouth Boot Screen
DefaultDependencies=no
After=systemd-vconsole-setup.service udev-settle.service

[Service]
ExecStart=/lib/systemd/systemd-plymouth 'Booting...'
Type=forking
