[Unit]
Description=Show plymouth Reboot Screen
After=getty@tty1.service prefdm.service
Before=reboot.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-plymouth 'Rebooting...'
Type=forking
