[Unit]
Description=Show plymouth Power Off Screen
After=getty@tty1.service prefdm.service
Before=poweroff.service
DefaultDependencies=no

[Service]
ExecStart=/lib/systemd/systemd-plymouth 'Powering Off...'
Type=forking
