[Unit]
Description=Terminate plymouth Boot Screen
Before=getty@tty1.service
After=dev-tty1.device local.service plymouth-start.service

[Service]
ExecStart=/bin/plymouth quit
Type=oneshot
