[Unit]
Description=Mount fw32 root directories at startup.
After=syslog.target

[Service]
ExecStart=/usr/bin/fw32-mount
ExecStop=/usr/bin/fw32-umount
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
