[Unit]
Description=LastMP
After=mpd.service

[Service]
ExecStart=/usr/bin/lastmp
PIDFile=/var/run/lastfm/lastmp.pid
Type=forking

[Install]
WantedBy=multi-user.target
