[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gksu --preserve-env --description /usr/share/applications/gufw.desktop /usr/share/gufw/gufw.py
Name=Firewall configuration
Name[zh_CN]=防火墙配置
Name[ru]=Брандмауэр
Name[pt_BR]=Configuração do firewall
Name[pt]=Configuração de Firewall
Name[mk]=конфигурирација на огнениот ѕид
Name[ko]=방화벽 설정
Name[ja]=ファイアウォールの設定
Name[it]=Configurazione firewall
Name[es]=Configuración cortafuegos
Name[en_AU]=Firewall configuration
Name[da]=Konfiguration af brandmur
Name[bg]=Конфигуриране на защитната стена
Name[ast]=Configuración del tornafuéu
Comment=Allows you to configure ufw firewall
Comment[zh_CN]=允许您配置 ufw 防火墙
Comment[ru]=Настроить брандмауэр ufw
Comment[pt_BR]=Permite a você configurar o firewall ufw
Comment[pt]=Permite-lhe configurar ufw firewall
Comment[mk]=Овозможува да го конфигурирате ufw огнениот ѕид
Comment[ko]=ufw 방화벽을 설정합니다
Comment[ja]=ufw ファイアウォールの設定を行えます
Comment[it]=Configura il firewall ufw
Comment[es]=Permite configurar el cortafuegos ufw
Comment[en_AU]=Configure the ufw firewall
Comment[da]=Giver dig mulighed for at konfigurere ufw-brandmur
Comment[bg]=ГПИ за контрол и настройка на ufw
Comment[ast]=Permite configurar el tornafuéu ufw
Icon=/usr/share/pixmaps/gufw.png
Categories=System;Settings;
