[Desktop Entry]
Encoding=UTF-8
Name=SuperTux
Comment=SuperTux to the original SuperMario games.
Exec=supertux
Icon=supertux.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;KDE;Game;ArcadeGame;
