[Desktop Entry]
Encoding=UTF-8
Name=WindowMaker
Comment=An X11 window manager originally designed to provide integration support for the GNUstep  Desktop Environment.
Exec=wmaker
Icon=
Type=Application

