[Unit]
Description=fail2ban daemon
After=network.target

[Service]
ExecStart=/usr/bin/fail2ban-client start
ExecStop=/usr/bin/fail2ban-client stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
