[Unit]
Description=IPv6 Tunnels
After=network.target

[Service]
ExecStart=/sbin/ipv6tunnel_setup on
ExecStop=/sbin/ipv6tunnel_setup off
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=multi-user.target
