[Desktop Entry]
Name=Printing
Name[ca]=Impressores
Name[da]=Udskrivning
Name[de]=Drucker
Name[el]=Εκτυπώσεις
Name[es]=Impresoras
Name[fa]=در حال چاپ
Name[fr]= Impression
Name[fi]=Tulostus
Name[he]=הדפסה
Name[is]=Prentun
Name[it]=Stampanti
Name[ja]=プリンタ
Name[nl]=Printers
Name[pl_PL]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Tipărire
Name[sv]=Skrivare
Name[xh]=Kuyashicilelwa
Name[zh_CN]=打印
Comment=Configure your printers
Comment[ca]=Configureu les vostres impressores
Comment[da]=Konfigurer dine printere
Comment[de]=Drucker konfigurieren
Comment[el]=Ρύθμιση των εκτυπωτών σας
Comment[es]=Configure sus impresoras
Comment[fa]=چاپگر خود را پیکربندی و تنظیم نمایید
Comment[fr]=Configurer vos imprimantes
Comment[fi]=Aseta tulostimet
Comment[he]=הגדרות המדפסות שלך
Comment[hu]=Nyomtatók beállítása
Comment[is]=Stillingar fyrir prentara
Comment[it]=Configura le stampanti
Comment[ja]=プリンタの設定
Comment[nl]=Configureer de printers
Comment[pl_PL]=Konfiguracja drukarek
Comment[pt]=Configurar as impressoras
Comment[pt_BR]=Configurar as impressoras
Comment[ro]=Configuraţi imprimantele dvs.
Comment[sv]=Konfigurera dina skrivare
Comment[xh]=Misela izishicileli zakho
Comment[zh_CN]=配置您的打印机
Exec=gnome-cups-manager
Icon=gnome-dev-printer
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;System;
