[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Printing Notification Icon
Name[ca]=Icona de notificació d'impressió
Name[da]=Påmindelsesikon for udskrivning
Name[de]=Druckerstatus-Icon
Name[el]=Εικονίδιο ειδοποίησης εκτυπώσεων
Name[es]=Icono de notificación de impresión
Name[fa]=نمایشگر چاپ
Name[fr]= Icône de notification d'impression
Name[fi]=Tulostuskuvake
Name[he]=מחוון ההדפסות
Name[hu]=Nyomtatási értesítő ikon
Name[is]=Prent Tilkynningar Táknmynd
Name[it]=Icona di notifica di stampa
Name[ja]=印刷通知アイコン
Name[nl]=Icoon voor afdruktaken
Name[pt]=Ícone de Notificação de Impressão
Name[pt_BR]=Ícone de Notificação de Impressão
Name[ro]=Iconiţă notificare tipărire
Name[sv]=Notifieringsikon för utskrift
Name[xh]=UMfanekiso ongumqondiso wokwaZisa ukuShicilela
Name[zh_CN]=打印任务通知图标
Comment=Show a notification icon when documents are printed
Comment[ca]=Mostra una icona de notificació quan s'imprimeixen documents
Comment[da]=Viser et påmindelsesikon når dokumenter udskrives
Comment[de]=Ein Status-Icon anzeigen wenn Dokumente gedruckt werden
Comment[el]=Εμφάνιση ενός εικονιδίου ειδοποίησης κατά την εκτύπωση εγγράφων
Comment[fa]=نمایشگری که در زمان چاپ مستندات نمایش داده میشود
Comment[es]=Muestra una notificación cuando se imprimen documentos
Comment[fr]= Affiche une icône de notification lorsque des documents sont imprimés
Comment[fi]=Näytä ilmoituskuvake kun dokumentteja tulostetaan
Comment[he]=אותת כשמסמכים נמצאים בתהליך הדפסה
Comment[hu]=Értesítő ikont jelenít meg, ha a dokumentumok nyomtatása kész
Comment[is]=Sýna tilkyningar táknmynd þegar skjal er prentað
Comment[it]=Mostra un'icona di notifica quando si stampa un documento
Comment[ja]=印刷時に通知アイコンを表示します
Comment[nl]=Toon een icoon wanneer documenten afgedrukt worden
Comment[pt]=Exibe um ícone de notificação quando documentos são impressos
Comment[pt_BR]=Exibe um ícone de notificação quando documentos são impressos
Comment[ro]=Arată o notificare când se tipăresc documente
Comment[sv]=Visa en notifieringsikon när dokument skrivs ut
Comment[xh]=Bonisa umfanekiso ongumqondiso wokwazisa xa amaxwebhu eshicilelwa
Comment[zh_CN]=在打印文档完毕后显示一个通知图标
Type=Application
Icon=gnome-dev-printer
Exec=gnome-cups-icon
OnlyShowIn=GNOME
StartupNotify=false
