[Unit]
Description=Hard Disk Drive Temperature Monitor
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/hddtemp
ExecStart=/usr/sbin/hddtemp $PARAMS $DRIVES
Type=simple

[Install]
WantedBy=multi-user.target
