[Unit]
Description=OpenNTP Daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/openntpd
ExecStart=/usr/bin/ntpd $PARAMS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
