[Unit]
Description=Sendmail Mail Transport Agent
After=network.target
Wants=sm-client.service

[Service]
Type=forking
ExecStart=/usr/sbin/sendmail -L sm-mta -bd -q25m

[Install]
WantedBy=multi-user.target
