[Desktop Entry]
Encoding=UTF-8
Name=Firestarter
Name[ca]=Firestarter
Name[cs]=Firestarter
Name[de]=Firestarter
Name[el]=Firestaster
Name[en_CA]=Firestarter
Name[en_GB]=Firestarter
Name[es]=Firestarter
Name[fr]=Firestarter
Name[hu]=Firestarter
Name[ja]=Firestarter
Name[nb]=Firestarter
Name[nl]=Firestarter
Name[no]=Firestarter
Name[pt]=Firestarter
Name[pt_BR]=Firestarter
Name[sq]=Firestarter
Name[sr]=Паликућа
Name[sr@Latn]=Palikuća
Name[sv]=Firestarter
Name[tr]=Firestarter
Name[uk]=Firestarter
Name[vi]=Firestarter
Name[zh_CN]=Firestarter
Name[zh_TW]=Firestarter
Comment=Desktop Firewall Tool
Comment[ca]=Eina de tallafoc Firestarter per a l'escriptori
Comment[cs]=Nástroj pro firewall
Comment[de]=Konfiguration und Überwachung der Firewall
Comment[en_CA]=Desktop Firewall Tool
Comment[en_GB]=Desktop Firewall Tool
Comment[es]=Herramienta de cortafuegos de escritorio
Comment[fr]=Outil graphique de pare-feu
Comment[hu]=Linuxos tűzfalbeállító eszköz
Comment[ja]=ファイヤーウォールのデスクトップ用ツールです
Comment[nb]=Brannveggverktøy for skrivebordet
Comment[nl]=Bureaublad firewall hulpmiddel
Comment[no]=Brannveggverktøy for skrivebordet
Comment[pt]=Ferramenta de Firewall para o Ambiente de Trabalho
Comment[pt_BR]=Ferramenta de Firewall para Desktops
Comment[sq]=Instrumenti i Desktop për Firewall
Comment[tr]=Güvenlik Duvarı Aracı
Comment[vi]=Công Cụ Tường Lửa Cho Máy Bàn
Comment[zh_CN]=桌面防火墙工具
Exec=kdesu firestarter
Icon=firestarter.png
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Application;
OnlyShowIn=KDE
