[Unit]
Description=Frugalware Update Notifier daemon
After=network.target

[Service]
ExecStart=/usr/sbin/fund --daemon
Type=forking

[Install]
WantedBy=multi-user.target
