[Unit]
Description=Munin Node Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/munin-node
PIDFile=/var/run/munin/munin-node.pid
Type=forking

[Install]
WantedBy=multi-user.target
