[Desktop Entry]
Encoding=UTF-8
Name=VNCviewer
Comment=VNC Client
Comment[hu]=VNC kliens
Icon=vnc.png
Exec=vncviewer
Type=Application
Categories=Network;Application;
