[Desktop Entry]
Name=Vuze
Comment=Vuze BitTorrent Client
Comment[hu]=Vuze BitTorrent kliens
Comment[fr]=Client BitTorrent Vuze
Exec=vuze
Icon=vuze.png
Terminal=false
Categories=Application;Network;
Type=Application
