[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ROX-Filer
GenericName=File Manager
Comment=Fast and powerful graphical file manager
Icon=rox
Exec=rox
Terminal=false
MimeType=inode/directory
Categories=Application;FileManager
StartupNotify=true
