[Unit]
Description=Icecast streaming server
After=network.target

[Service]
ExecStart=/usr/bin/icecast -b -c /etc/icecast/icecast.xml
Type=forking

[Install]
WantedBy=multi-user.target
