[Unit]
Description=clamd scanner daemon
After=syslog.target nss-lookup.target network.target

[Service]
ExecStart=/usr/sbin/clamd --nofork=yes

[Install]
WantedBy=multi-user.target
