[Unit]
Description=freshclam service
After=syslog.target nss-lookup.target network.target

[Service]
ExecStart=/usr/bin/freshclam -d --checks=12 --user=clamav
Type=forking

[Install]
WantedBy=multi-user.target
