[Unit]
Description=OpenLDAP
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/slapd
ExecStart=/usr/libexec/slapd -u $SLAPD_USER -g $SLAPD_GROUP
PIDFile=/var/openldap/run/slapd.pid
Type=forking

[Install]
WantedBy=multi-user.target
