[Unit]
Description=Tiny HTTP Server
After=network.target

[Service]
ExecStart=/usr/sbin/thttpd -C /var/www/thttpd_config
PIDFile=/var/run/thttpd.pid
Type=forking

[Install]
WantedBy=multi-user.target
