[Unit]
Description=Software RAID Monitoring
After=syslog.target
ConditionPathExists=/etc/mdadm.conf

[Service]
PIDFile=/run/mdadm/mdadm.pid
ExecStart=/usr/bin/mdadm --monitor --scan --daemonise --pid-file=/run/mdadm/mdadm.pid
Type=forking

[Install]
WantedBy=multi-user.target
