[Unit]
Description=Software RAID Monitoring
After=syslog.target
ConditionPathExists=/etc/mdadm.conf

[Service]
PIDFile=/var/run/mdadm/mdadm.pid
ExecStart=/sbin/mdadm --monitor --scan --daemonise --pid-file=/var/run/mdadm/mdadm.pid
Type=forking

[Install]
WantedBy=multi-user.target
