[Unit]
Description=Apply pm-radeon configuration
After=syslog.target

[Service]
ExecStart=/usr/sbin/pm-radeon.sh
Type=oneshot
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
