[Desktop Entry]
Encoding=UTF-8
Name=Tracker
Comment=Index, tag, search and give metadata to your files
Icon=system-search
Exec=/usr/bin/trackerd_wrap
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;
