[Unit]
Description=Dynamic Dns Update Client
After=network.target

[Service]
ExecStart=/usr/bin/ddclient
Type=forking

[Install]
WantedBy=multi-user.target
