[Desktop Entry]
Name=Atom
Comment=Atom is a hackable text editor for the 21st century.
GenericName=Text Editor
Exec=/usr/bin/atom %U
Icon=atom
Type=Application
StartupNotify=true
Categories=TextEditor;Development;
MimeType=text/plain;
