#!/bin/bash

# (c) 2007 Priyank Gosalia <priyankmg@gmail.com>
# rc.slim for Frugalware
# distributed under GPL License

# chkconfig: 2345 99 03
# description: SLiM Login Manager

source /lib/initscripts/functions
TEXTDOMAIN=slim

actions=(restart status start stop)
daemon=$"SLiM Login Manager"

pid="pidof slim 2> /dev/null"

rc_start()
{
	start_msg
	if [[ "$(eval $pid)" == "" ]] ; then
		/usr/bin/slim -d
		ok $?
	else
		ok 999
	fi
}

rc_stop()
{
	stop_msg
	if [[ "$(eval $pid)" != "" ]] ; then
		killall -9 slim
		ok $?
	else
		ok 999
	fi
}

rc_exec $1

# vim: ft=sh
