[Unit]
Description=Very Secure FTP Server
After=network.target

[Service]
ExecStart=/usr/bin/vsftpd
Type=forking

[Install]
WantedBy=multi-user.target
