[Unit]
Description=DHClient IPv6 on %I
Wants=network.target
Before=network.target

[Service]
PIDFile=/run/dhclient6-%I.pid
ExecStart=/usr/sbin/dhclient -d %I -6 -q -cf /etc/dhclient-dhcpv6.conf -pf /run/dhclient6-%I.pid

[Install]
WantedBy=multi-user.target
