[Unit]
Description=DHClient IPv4 on %I
Wants=network.target
Before=network.target

[Service]
PIDFile=/run/dhclient4-%I.pid
ExecStart=/usr/bin/dhclient -d %I -4 -q -cf /etc/dhclient.conf -pf /run/dhclient4-%I.pid

[Install]
WantedBy=multi-user.target
