[Unit]
Description=DHCP IPv4 Server
After=network.target
After=time-sync.target

[Service]
PIDFile=/run/dhcpd4.pid
ExecStart=/usr/bin/dhcpd -4 -q -cf /etc/dhcpd.conf -pf /run/dhcpd4.pid
KillSignal=SIGINT
Type=forking

[Install]
WantedBy=multi-user.target
