[Unit]
Description=DHCP IPv6 Server
After=network.target
After=time-sync.target

[Service]
PIDFile=/run/dhcpd6.pid
ExecStart=/usr/bin/dhcpd -6 -q -cf /etc/dhcpd-dhcpv6.conf -pf /run/dhcpd6.pid
KillSignal=SIGINT
Type=forking

[Install]
WantedBy=multi-user.target
