[Unit]
Description=Dynamic Host Control Protocol
After=network.target

[Service]
ExecStart=/usr/sbin/dhcpd
Type=forking

[Install]
WantedBy=multi-user.target
