[Desktop Entry]
Name=AlbumArt
Comment=Album Cover Art Downloader
Exec=albumart-qt
Type=Application
Terminal=false
Icon=albumart.png
GenericName=Album Cover Art Downloader
GenericName[fi]=Albumikansikuvien noutaja
X-GNOME;KDE-StartupNotify=true
X-DCOP-ServiceType=Unique
Version=1.6.0
Encoding=UTF-8
Categories=Qt;GNOME;KDE;Graphics
