[Unit]
Description=ISCSI Initiator Daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/iscsid
ExecStart=/sbin/iscsid $OPTS
ExecStartPost=/sbin/iscsiadm -m node --loginall=automatic
ExecStop=/sbin/iscsiadm -m node --logoutall=all
Type=forking

[Install]
WantedBy=multi-user.target
