[Unit]
Description=ISCSI Initiator Daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/iscsid
ExecStart=/bin/iscsid $OPTS
ExecStartPost=/bin/iscsiadm -m node --loginall=automatic
ExecStop=/bin/iscsiadm -m node --logoutall=all
Type=forking

[Install]
WantedBy=multi-user.target
