#
# Configuration file for Frugalware documentation
#

# NOTE: Here we list all the documents that are translated for at least one
# language. Feel free to add new documents, but keep in mind that it's no good
# translating developer-ralted documents.

# language list
[po4a_langs] hu
[po4a_paths] po/docs.pot $lang:po/$lang.po
# metadocuments
[type: text] header.txt.in $lang:$lang/header.txt.in
[type: text] packages.txt.in $lang:$lang/packages.txt.in
[type: text] index.txt $lang:$lang/index.txt
[type: text] index-user.txt $lang:$lang/index-user.txt
[type: text] index-devel.txt $lang:$lang/index-devel.txt
# user documents
[type: text] quickref.txt $lang:$lang/quickref.txt
