[Desktop Entry]
Categories=Qt;System
Encoding=UTF-8
Exec=/usr/bin/qdbusviewer
Name=Qt4 DBUS Viewer
X-KDE-StartupNotify=true
Icon=/usr/share/pixmaps/qdbusviewer.png
Terminal=false
Type=Application

