[Desktop Entry]
Categories=Qt;Settings
Encoding=UTF-8
Exec=/usr/bin/qtconfig
Name=Qt4 Settings
X-KDE-StartupNotify=true
Icon=/usr/share/pixmaps/qtconfig.png
Terminal=false
Type=Application

