[Desktop Entry]
Categories=Qt;Development
Encoding=UTF-8
Exec=/usr/bin/qtdemo
Name=Qt4 Demos Viewer
X-KDE-StartupNotify=true
Icon=/usr/share/pixmaps/qtdemo.png
Terminal=false
Type=Application

