[Unit]
Description=Display Manager
After=syslog.target local.service systemd-user-sessions.service

Conflicts=splashy-quit.service
After=splashy-quit.service

[Service]
ExecStart=/etc/rc.d/rc.4
Restart=always
RestartSec=0
