[Unit]
Description=Sets X server resolution to follow kernel video resolution.
After=sysinit.target
Before=default.target

[Service]
ExecStart=/usr/libexec/xorg-set-resolution
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
