[Unit]
Description=Scratchbox
After=syslog.target

[Service]
ExecStart=/usr/lib/scratchbox/sbin/sbox_ctl start
ExecStop=/usr/lib/scratchbox/sbin/sbox_ctl stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
