[Unit]
Description=Network Time Service
After=network.target syslog.target

[Service]
Type=forking
ExecStart=/usr/bin/ntpd -g -c /etc/ntp.org.conf
Restart=always
PIDFile=/var/run/ntp.pid

[Install]
WantedBy=multi-user.target time-sync.target
