[Unit]
Description=Network Time Service

[Service]
Type=forking
ExecStart=/usr/bin/ntpd -g -c /etc/ntp.org.conf
PIDFile=/var/run/ntp.pid

[Install]
WantedBy=time-sync.target
