[Desktop Entry]
Encoding=UTF-8
Categories=Application;Games;
Exec=eternal-lands
Icon=eternal-lands.png
StartupNotify=false
Terminal=false
Type=Application
Name=Eternal Lands
Comment=3D MMORPG
