[Unit]
Description=partimaged is a partition imaging daemon
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/partimaged
ExecStartPre=/usr/sbin/partimaged-setup
ExecStartPre=/bin/touch /var/lock/subsys/partimaged
ExecStart=/usr/sbin/partimaged -D -d /var/lib/partimage $OPTIONS
ExecStop=/bin/rm -f /var/lock/subsys/partimaged

[Install]
WantedBy=multi-user.target
