[Unit]
Description=APC UPS controller daemon
After=syslog.target

[Service]
ExecStart=/sbin/apcupsd -f /etc/apcupsd/apcupsd.conf -P /var/run/apcupsd.pid
PIDFile=/var/run/apcupsd.pid
Type=forking

[Install]
WantedBy=multi-user.target
