[Desktop Entry]
Encoding=UTF-8
Name=xdvik
Comment=Xdvik is a program for displaying DVI files.
Exec=xdvi
Terminal=false
Type=Application
StartupNotify=true
Icon=xdvik.png
Categories=Application;
MimeType=
