[Unit]
Description=Virtual Tunnel Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/vtund -s
Type=forking

[Install]
WantedBy=multi-user.target
