[Unit]
Description=SASL authentication daemon
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/saslauthd
ExecStart=/usr/sbin/saslauthd $options
PIDFile=/var/run/courier/saslauthd.pid
Type=forking

[Install]
WantedBy=multi-user.target
