[Desktop Entry]
Version=2.6.7
Type=Application
Encoding=UTF-8
Name=RipperX
Comment=RipperX is a GTK program to rip CD audio tracks and encode them 
to the Ogg, MP3, or FLAC formats.
GenericName=CD ripper
TryExec=ripperX
Exec=ripperX
Terminal=false
Categories=Application;Multimedia;
