[Desktop Entry]
Encoding=UTF-8
Name=RipperX
GenericName=CD ripper
Comment=RipperX is a GTK program to rip CD audio tracks and encode them 
to the Ogg, MP3, or FLAC formats.
Version=2.6.7
Tryexec=ripperX
Exec=ripperX
Terminal=false
Type=Application
Categories=GNOME;Application;AudioVideo;
NotShowIn=KDE
