[Unit]
Description=DenyHosts
After=network.target

[Service]
ExecStart=/usr/bin/denyhosts --daemon --config=/etc/denyhosts.cfg
PIDFile=/var/run/denyhosts.pid
Type=forking

[Install]
WantedBy=multi-user.target
