[Unit]
Description=DSPAM
After=network.target

[Service]
ExecStart=/usr/bin/dspam --daemon
PIDFile=/run/dspam/dspam.pid
Type=forking

[Install]
WantedBy=multi-user.target
