[Unit]
Description=DSPAM
After=network.target
#Requires=mysqld.service
#After=mysqld.service

[Service]
ExecStart=/usr/bin/dspam --daemon
PIDFile=/var/run/dspam/dspam.pid
Type=forking

[Install]
WantedBy=multi-user.target
