[Unit]
Description=IPv4 firewall with iptables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/firewall start
ExecStop=/usr/libexec/firewall stop

[Install]
WantedBy=multi-user.target
