[Desktop Entry]
Encoding=UTF-8
Name=BitTorrent File Transfer
Comment=Distributed download of files from the Internet
Exec=bittorrent
Icon=bittorrent.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Network;
MimeType=application/x-bittorrent;
