[Unit]
Description=motion
After=syslog.target

[Service]
ExecStart=/usr/bin/motion
PIDFile=/var/run/motion/motion.pid
Type=forking

[Install]
WantedBy=multi-user.target
