[Unit]
Description=PDNS Recursor
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/pdns_recursor --daemon
ExecStop=/usr/bin/rec_control stop
PIDFIle=/var/run/pdns_recursor.pid

[Install]
WantedBy=multi-user.target
