[Unit]
Description=MySQL Daemon
After=network.target

[Service]
User=mysql
Group=mysql
ExecStartPre=/usr/bin/mysql_setup
ExecStart=/usr/bin/mysql_run
ExecStartPost=/usr/bin/mysql_wait
Type=simple

[Install]
WantedBy=multi-user.target
