[Unit]
Description=MySQL Daemon
After=network.target

[Service]
User=mysql
Group=mysql
ExecStartPre=/usr/bin/mysql_install_db --basedir=/usr
ExecStart=/usr/bin/mysqld_safe --basedir=/usr
ExecStartPost=/usr/bin/mysql_wait
Type=simple

[Install]
WantedBy=multi-user.target
