[Unit]
Description=IPv4 firewall with iptables

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/iptables/firewall start
ExecStop=/usr/lib/iptables/firewall stop

[Install]
WantedBy=multi-user.target
